@model IEnumerable<PhiloiWebApp.Models.User>

@{
    ViewData["Title"] = "Index";
    var listOfInterests = ViewBag.ListOfInterests;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in listOfInterests) {
        <tr>
            <td>
                @Html.Raw(item.Name)
            </td>
            <td>
                @Html.Raw(item.LastName)
            </td>
            <td>
                @Html.Raw(item.Email)
            </td>
            <td>
                @Html.Raw( item.ZipCode)
            </td>
            <td>
                @Html.Raw(item.Longitude)
            </td>
            <td>
                @Html.Raw(item.Latitude)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
